<form method="GET" action="/search">
    <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Tapez le titre d’un film pour le trouver…" value="{{ query }}">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</form>